$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1220;
$md1: $maxWidthContainer + 30;
$md2: 992;
$md3: 768;
$md4: 320;

$footerBg: #0c2f33;
$footerText: white;
$mainColor: #4c858b;
$borderColor: #e5e5e5;
$mobileMenuBg: white;
$secondaryColor: #e33e54;
$socialIcons: #ea6628;
$formBg: white;
$inputPh: #b1b1b1;
$btnBg: #215359;
$btnColor: white;

$fontFamily: 'Montserrat', sans-serif;
