-
    var listText = [
        'Доступные цены',
        'Собственное производсвто',
        'Выполнение необходимых работ, связанных с установкой камина, печи, котла',
        'Гарантия (от трёх до десяти лет)',
        'Работаем чисто, аккуратно, убираем за собой, не сквернословим',
        'Только русские квалифицированные специалисты',
        'Устанавливаем любые дымоходы всех производителей'
    ]
    
section.intro
    .container
        h1.intro__title Монтаж дымоходов
        ul.intro__links
            li.intro__links-item.icon-8
                a(href="#").intro__links-link Главная
            li.intro__links-item
                a(href="#").intro__links-link._active Монтаж дымоходов
        p.text.intro__text В Дымоход.ру  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
        .intro__block
            .intro__content
                h2.intro__content-title 
                    | Lorem ipsum dolor sit amet 
                    span Lorem ipsum
                ul.intro__content-list
                    each val in listText
                        li.intro__content-item= val