extends ../layouts/default

block variables

block content
    include ../../components/sections/intro/intro
    include ../../components/sections/process/process
    include ../../components/sections/benefits/benefits
    include ../../components/sections/consultation/consultation
    include ../../components/sections/video/video