.consultation {
    padding: 50px 0;
    @media (max-width: ($md3 + px)) {
        padding: 0;
    }
    &__title {
        font-size: 50px;
        font-weight: 800;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media (max-width: ($md3 + px)) {
            font-size: 40px;
        }
        @media (max-width: (480px)) {
            font-size: 30px;
        }
        @media (max-width: ($md4 + px)) {
            font-size: 22px;
        }
    }
    &__subtitle {
        display: block;
        text-align: center;
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 33px;
        @media (max-width: ($md3 + px)) {
            font-size: 16px;
            line-height: 30px;
        }
        @media (max-width: ($md4 + px)) {
            font-size: 14px;
            line-height: 26px;
        }
    }
    &__social-links {
        justify-content: center;
        margin-bottom: 39px;
        li {
            &:not(:last-child) {
                margin-right: 36px;
            }
            a {
                color: $socialIcons;
                &.icon-1:before {
                    font-size: 13.42px;
                }
                &.icon-3:before {
                    font-size: 19.17px;
                }
                &.icon-instagram:before {
                    font-size: 19px;
                }
                &.icon-4:before {
                    font-size: 19px;
                }
            }
        }
    }
    &__form {
        max-width: 866px;
        padding: 52px;
        background: $formBg;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
        margin: 0 auto;
        @media (max-width: ($md4 + px)) {
            margin: 0 -15px;
            padding: 15px;
        }
        & form {
            display: flex;
            gap: 16px;
            @media (max-width: ($md3 + px)) {
                flex-direction: column;
                max-width: 354px;
                margin: 0 auto;
            }
        }
        &-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 12px;
            span {
                font-weight: 700;
                color: $socialIcons;
            }
            @media (max-width: ($md3 + px)) {
                text-align: center;
            }
        }
        &-text {
            margin-bottom: 22px;
            @media (max-width: ($md3 + px)) {
                text-align: center;
            }
        }
        &-input {
            flex: 1 1 auto;
            border: 1px solid $borderColor;
            border-radius: 4px;
            padding: 17px;
            &::placeholder {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: $inputPh;
            }
        }
        &-btn {
            background: $btnBg;
            border-radius: 4px;
            color: $btnColor;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            padding: 17px;
            width: 240px;
            @media (max-width: ($md3 + px)) {
                margin: 0 auto;
            }
            @media (max-width: (410px)) {
                width: 100%;
            }
        }
    }
}
