-
    var photos = [
        {url: './assets/images/3.jpg', alt: 'Фото'},
        {url: './assets/images/3.jpg', alt: 'Фото'},
        {url: './assets/images/3.jpg', alt: 'Фото'},
        {url: './assets/images/3.jpg', alt: 'Фото'},
        {url: './assets/images/3.jpg', alt: 'Фото'},
        {url: './assets/images/3.jpg', alt: 'Фото'},
        {url: './assets/images/3.jpg', alt: 'Фото'},
        {url: './assets/images/3.jpg', alt: 'Фото'}
    ]

section.photos
    .container
        .block
        h2.title.photos__title Фото выполненных работ
        p.text.photos__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .photos__block
            each val in photos
                .photos__img
                    img(src= val.url, alt= val.alt)