@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --family: 'Nunito Sans', sans-serif;
}

body[data-theme='dark'] {
    --colors-text: hsl(0, 0%, 100%);
    --colors-bg: hsl(207, 26%, 17%);
    --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme='light'] {
    --colors-text: hsl(200, 15%, 8%);
    --colors-bg: hsl(0, 0%, 98%);
    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
    font-family: var(--family);
    color: var(--colors-text);
    background-color: var(--colors-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.btn {
    box-shadow: var(--shadow);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}
