section.process
    .container
        .block
        h2.title.process__title Процесс выполнения монтажа
        ol.process__list.text
            li.process__list-item Рассчёт предварительной заявки
            li.process__list-item Замер объекта нашим инженером
            li.process__list-item Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
            li.process__list-item Изготовление Дымохода, покраска (если требуется)
            li.process__list-item Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
            li.process__list-item Гарантийное обслуживание по соответствующем сроку