section.benefits
    .container
        .block
        h2.title.benefits__title Почему Дымоход.ру?
        p.text.benefits__text В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
        .benefits__flex-block
            .benefits__flex-item
                span.icon-9.benefits__flex-icon
                h3.benefits__flex-title Большой гарантийный срок
                p.text.benefits__flex-text
                    | Крепёж, стыковка элементов – 
                    span 10 лет 
                    | Сквозная коррозия труб – 
                    span 5 лет 
                    | Гидроизоляция – 
                    span 3 года
            .benefits__flex-item
                span.icon-10.benefits__flex-icon
                h3.benefits__flex-title Помощь в покупке агрегата
                p.text (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
            .benefits__flex-item
                span.icon-11.benefits__flex-icon
                h3.benefits__flex-title Реальные отзывы клиентов
                p.text Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.

                