body.lock {
    overflow: hidden !important;
}
.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: ($md1 + px)) {
        max-width: none;
        padding: 0 15px;
    }
}
.block {
    display: inline-block;
    width: 74px;
    height: 5px;
    background-color: #e33e54;
    margin-bottom: 11px;
}
.social-links {
    font-size: 0;
    display: flex;
    align-items: center;
}
.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    @media (max-width: ($md4 + px)) {
        font-size: 14px;
        line-height: 26px;
    }
}
.title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    @media (max-width: ($md3 + px)) {
        font-size: 30px;
        line-height: 37px;
    }
    @media (max-width: ($md4 + px)) {
        font-size: 20px;
        line-height: 30px;
    }
}
